<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 100 100"><rect width="100" height="100" rx="0" fill="#3b445f"></rect><text x="50%" y="50%" dominant-baseline="central" text-anchor="middle" font-size="60">💻</text></svg>
      </div>
      <nav>

        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/portfolio/">Work</a>
          </li>
          <li>
            <a href="/aboutme/">About Me</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>