---
title: "About Me Page"
layout: 'base.njk'
---

<section class="info">
  <div class="container flow">
    <div class="info__content flow">
      <h1 class="section-title">My About Me page.</h1>
      <h2>Bio</h2>
      <p>Hello readers, my name is Collie Clarke. At the time of writing this I’m a 23-year-old student doing a certificate course at Raritan Valley Community College located in North Branch, New Jersey. I am currently living in Plainfield new jersey with my grandparents and aunty. I was originally born and raised in Jamaica but in 2020 I got the opportunity to move to the states and further my studies. I have always had a knack for building or creating different things. As a kid my favorite toys to play with were Lego’s I loved spending my time creating different vehicles. When I was in high school, I did technical drawing and construction classes. Now that I’m in college I am doing a web development course</p>
    </div>
    <br>
    <div>
      <img src="/assets/portfolio/Profile.jpg" alt="" class="info__image">
    </div>
  </div>
</section>